.container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: 90vh; 
}
.button-home {
    margin-top: 1.5rem;
  background-color: #4c4780;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  height: 2.5rem;
}