* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/home/pexels-bohlemedia-1884584.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}
